{% extends "index1.html" %}

{% block content %}
<body>

    <section id="main-page" class="content main-page">
       <div style="text-align: center">
           <h1>Добро пожаловать в мир инвестиций</h1>
       </div>
       <p>
           Начните свой путь к финансовой свободе сегодня!
       </p>
       <p>
           Устали от неопределённости и хотите взять под контроль своё финансовое будущее? Наше приложение — ваш надёжный проводник в увлекательном мире инвестиций. Мы предлагаем:
           Простое и понятное обучение: освойте основы инвестирования от А до Я. Наши интерактивные уроки, статьи и видео помогут вам разобраться в сложных терминах и стратегиях, независимо от вашего опыта.
           Индивидуальный подход: создайте свой собственный инвестиционный портфель, соответствующий вашим целям, срокам и уровню риска.
           Актуальная информация и аналитика: будьте в курсе последних новостей рынка, получайте экспертные обзоры и аналитику, чтобы принимать взвешенные инвестиционные решения.
           Практические инструменты: используйте наши инструменты для анализа, моделирования и управления вашими инвестициями.
           Безопасность и надёжность: ваши данные и инвестиции надёжно защищены. Мы используем передовые технологии шифрования и безопасности.
       </p>
       <p>
           Что вы получите, начав инвестировать с нами:
           Уверенность в своих финансовых решениях: получите необходимые знания и навыки для самостоятельного управления своими финансами.
           Дополнительный доход: научитесь приумножать свой капитал и достигать финансовых целей.
           Финансовая свобода: создайте стабильный источник дохода, который позволит вам жить так, как вы мечтаете.
           Доступ к эксклюзивному контенту: получайте доступ к продвинутым стратегиям инвестирования, вебинарам с экспертами и персональным консультациям.
           Начните сегодня!
       </p>
       <div style="text-align: center">
           <img src="https://avatars.mds.yandex.net/i?id=68b51632db2271ab068cea8cd7732749_l-5859771-images-thumbs&n=13" alt="Инвестиции" />
       </div>
    </section>
</body>
{% endblock %}
