{% extends "index1.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новость</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="news-container">
        <div class="news_p_ph">
            <img src="https://i-invdn-com.investing.com/news/LYNXMPEB0E0CQ_L.jpg" alt="Изображение новости" class="news-image">
        </div>
        
        <h1 class="news-title">Mitsui Sumitomo приобретет 15% акций W.R. Berkley</h1>
        <p class="news-date"><span id="news-date">01.01.2023</span></p>
        <div class="news-content">
            <p>Investing.com — Акции W.R. Berkley, страховой холдинговой компании из Гринвича, штат Коннектикут, выросли в цене в ходе предрыночных торгов в пятницу. <br> 

                Это произошло после объявления о том, что Mitsui Sumitomo Insurance, подразделение японской группы MS&AD Insurance Group, планирует приобрести 15% акций компании.<br>
                
                Приобретение доли будет осуществляться либо через покупки на открытом рынке, либо посредством частных сделок.<br>
                
                Однако было уточнено, что семья Беркли, основатели W.R. Berkley, не будет продавать какие-либо свои акции компании Mitsui Sumitomo.<br>
                
                Помимо приобретения доли, Mitsui Sumitomo также заключила соглашение о голосовании с семьей Беркли.</p>
        </div>
    </div>
</body>
</html>

{% endblock %}